<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-3">
    {{#with prev}}
      <a href="/docs/{{docIndex}}" class="btn btn-secondary btn-block" role="button">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
        &nbsp;&nbsp;{{title}}
      </a>
    {{/with}}
  </div>

  <div class="col-md-6">
  </div>

  <div class="col-md-3">
    {{#with next}}
      {{#if title}}
        <a href="/docs/{{docIndex}}" class="btn btn-primary btn-block" role="button">
          {{title}}&nbsp;&nbsp;
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </a>
      {{/if}}
    {{/with}}
  </div>
</div>
