<div class="container-fluid" style="padding: 0;">
  {{#each exoticCharRows}}
    <div class="row" style="margin: 0;">
      {{#each this}}
        <div class="col-md-4 col-sm-3" style="padding: 0;">
          <button type="button" class="btn btn-secondary char-pad-button text-center">{{this}}</button>
        </div>
      {{/each}}
    </div>
  {{/each}}

  <button id="compile-button" type="button" class="btn btn-primary btn-block button-below-pad">Compile</button>

  <button id="save-button" type="button" class="btn btn-primary btn-block button-below-pad">Save</button>

  <button id="highlighting-preview-toggle" type="button" class="btn btn-primary btn-block button-below-pad">Toggle highlighted preview</button>
</div>
