<div class="row">
  <div class="col-md-12">
    <p class="text-muted text-center">
      The resident Schönfinkel compiler is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3.0</a>.
      <br />
      2017, Zachary Comito.
    </p>
  </div>
</div>
