<div class="card">
  <div class="card-header">
    &lt;Title&gt;
  </div>
  <div class="card-block">
    <h5 class="card-title">&lt;Author&gt;</h4>
    <p class="card-text">
      <pre class="snippet-pre"><code>
    {{{highlight code}}}</code></pre>
    </p>
    <a href="#" class="btn btn-primary">Open in editor</a>
  </div>
</div>
