<!DOCTYPE html>
<html lang="en">
{{> head}}

<body onload="smartquotes();">
  <div class="container">
    {{> topRow}}

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <h1 class="alert-heading">404: Page not found</h1>
          <hr />
          <strong>Whatever it is, I can't find it.</strong>
        </div>
      </div>
    </div>

    {{> footer}}
  </div>

  {{> jsFooter}}
</body>

</html>
