<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body onload="smartquotes();">
    {{> saveSnippetModal}}

    <div class="container">
      {{> topRow}}

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Schönfinkel Editor</h1>

          <br />

          <h2 id="byte-count" class="text-center">Current byte count: 0</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <textarea id="editor-area" autofocus autocomplete="off" placeholder="Start typing here..." spellcheck="false" wrap="off">{{{code}}}</textarea>
          </div>

          <div class="row">
            <div id="highlighting-preview-container">
              <pre id="highlighting-preview-pre"><code id="highlighting-preview"></code></pre>
            </div>
          </div>
        </div>

        <div class="col-md-2" style="padding: 0;">
          {{> exoticCharPad}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Output</h1>
        </div>
      </div>

      <div class="row">
        <div id="output-container" class="taller-container">
          <pre id="output-pre"><code id="output"></code></pre>
        </div>
      </div>

      {{> footer}}
    </div>

    {{> jsFooter}}

    <script src="/code-preview.js"></script>
    <script src="/sch.js"></script>
    <script src="/editor.js"></script>
  </body>
</html>
